.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build
/captures
*.iml
app/build/
app/libs/
app/src/main/java/com/GoogleplusloginDemo/controller/
app/src/main/java/com/GoogleplusloginDemo/model/
build/
libs/
src/main/java/com/GoogleplusloginDemo/controller/
src/main/java/com/GoogleplusloginDemo/model/
.idea
